
.form-group .btn-primary {
    font-size: 0.9em;
}

.btn-group.btn-group-toggle {
    width: 100%;
}

.catSelect {
    .form-control:focus {
        color: #495057;
        background-color: #fff;
        border-color: $color-5;
        border: none;
        border-bottom: thin solid $color-5;
        border-radius: 0;
        outline: 0;
        box-shadow: 0 0 0 0 $color-5;
        font-size: 1em;
    }
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-between;
    select {
        width: 50%;
        option {
            font-size: 1em;
        }
    }
}
#cat-input {
    width: 100%;
    border: none;
    border-bottom: thin solid black;
    border-radius: 0;
    option {
        font-size: 1em;
        display: flex;
    }
}

.listProduct {
    justify-content: center;
    display: flex;
    .AddButton {
        display: flex;
        justify-content: space-around;
        border: thin solid;
        background-color: $color-0;
        border:none;
        border-bottom:thin solid $link-color;
        width: 100%;
        border-radius: 0;
        color: $color-6;
        font-weight: 500;
    }
}

.price-input-group {
    display:flex;
    flex-direction: row;
    width:100%;
    .input-group-text {
        background-color:white;
        border:none;
        border-bottom:solid thin black;
        border-radius: 0;
    }
}

.editButton {
    padding: 0.5em;
    text-align: left;
    border: #cdcdcd;
    background-color: white;
    padding-left: 1.2em;
}

.Item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    // flex: 1 0 70%;
    padding-top: 1em;
    h3 {
        font-size:1.7em;
    }

    .carousel-item-next, .carousel-item-prev, .carousel-item.active {
        display: flex;
        justify-content: center;
    }

    .card {
        border: 0;
        margin-top: 0.2em;
        width: 100%;
        border-bottom: thin solid $color-1;
        border-radius: 0;
        height: 100%;
        justify-content: flex-end;
        background-color: transparent;
        // height: 21em;
        .card-img-featured {
            padding: 0;
            width: 75vw;
        }
        .card-body {
            display: flex;
            justify-content: flex-end;
            flex-direction: column;
            flex: 0;
            padding: 0em;

            .productDetailsInfo.col {
                display: flex;
                justify-content: space-between;
                padding: 1em 2em;
                flex-direction: column;
                p {
                    justify-content: space-around;
                    padding: 0em 2em;
                }
            }

            h5 {
                text-align: center;
            }
            .col-3 {
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: 0em;
                width: 6em;
                margin-left: 1em;
                align-self: flex-end;
            }
            .card-title {
                display: flex;
                justify-content: space-around;
                align-items: center;
                padding: 0;
                font-size:1em;

            }
            img {
                display: block;
                max-width:auto;
                max-height:13em;
                width: auto;
                height: auto;
                object-fit: contain;
            }
            .card-text {
                // text-align:center;
                display: flex;
                align-items: center;
                justify-content: space-around;

            }
            .productPrice {
                display: flex;
                align-items: center;
                justify-content: space-around;
                padding-bottom: 1em;
                button {
                    padding: 0 1em;
                    border: none;
                    border-radius: 0.1em;
                    color: $link-color;
                    background-color: $color-0;
                }

            }

        }
        .AddButton {
            display: flex;
            justify-content: space-between;
            border: thin solid;
            background-color: rgba(255, 255, 255, 0);
            width: 100%;
            border-radius: 0;
            color: $color-5;
            font-weight: 500;
            padding: 0.2em;
            font-weight: 700;
        }
        .btn-primary {
            color: $color-5;
            background-color: $color-1;
            border-color: #3f3f3f;
            border: none;
            border-bottom: thin solid $color-5;
        }
        .btn-primary:not(:disabled):not(.disabled).active,
        .btn-primary:not(:disabled):not(.disabled):active,
        .show > .btn-primary.dropdown-toggle {
            color: #fff;
            background-color: $color-5;
            border-color: $color-5;
        }
        .btn-outline-dark {
            color: $color-5;
            border: none;
        }
        .btn-outline-dark:not(:disabled):not(.disabled):active,
        .show > .btn-outline-dark.dropdown-toggle {
            color: $color-2;
            background-color: #343a40;
            border-color: #343a40;
        }
    }
}



.purchasesItem {
    width: 100%;
    .media {
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items:center;
        .media-body {
            margin-right:0;
            display: flex;
            align-items: center;
            justify-content: space-around;
            max-width: 100%;
            .col {
                padding:0;
                max-width: 50%;
                text-align:left;
                overflow-wrap: break-word;

                p {
                    margin-bottom:0;
                }
            }
        }
    }

}

.modalText {
    display: flex;
    justify-content: space-around;
    align-items: center;
    h6 {
        padding: 0em;
        margin-top:1em;
    }
    text-align:center;
}

.deleteModal{
    color:$color-3;
    border:none;
    border-bottom:$color-4;
    background-color:transparent;
    margin:0;
    padding: 0;
    height:80%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    span {
        justify-self: flex-start;
        display:flex;
        justify-content: space-between;
        padding:1em;
        align-items: flex-end;
        color:$color-6;
        a {
            color:$color-4;
            font-size:1.5em;
            span {
                padding:0em;
            }
        }
    }

    h3 {
        font-size: 1.3em;
        padding:1em;
    }
    .buttons{
        justify-content: space-between;
        display: flex;
        padding:0 5em;
    }
    button{
        background-color: #f2f2f2;
        border: none;
        color: $color-6;
        border-bottom: thin solid #A68B3C;
        border-radius: 0;
    }
}

.addPhoto{
    display: flex;
    margin: 1em;
}

.deleteButton{
    position: absolute;
    z-index: 10;
    color: black;
    right: 1em;
    top: 1em;
    font-size: 1.2em;
}

.productImage{
    // margin: auto;
    width: 100%;
}


//misc

.carousel {
    position: relative;
    width: 100%;
}

.carousel-inner {
    background-color:$color-1;
}


.carousel-indicators {
    margin-bottom: 0;
    height: .9em;
    li {
    }
}
.Item .card .card-body .productImage {
    img {
        display: block;
        max-width: inherit;
        max-height: 13em;
        width: inherit;
        height: inherit;
        object-fit: contain;
        }
}

.formGridPrice {
    display: flex;
    align-items: center;
}
.filter {
    border-bottom:solid thin #cdcdcd;
    display:flex;
    justify-content: flex-end;
 
    .filter-button {
        background-color: white;
        color: #b19a55;
        border: none;
        border-radius: 0;
        font-size: .9em;
    }

    .filter-button:hover {
        background-color: #dcdcdc;
    }

}

button.filter-button.btn.btn-primary:active {
    background-color: #cdcdcd;
    color: #b19a55;
    border: none;
    border-radius: 0;
    font-size: .9em;
    box-shadow:none;
}

button.filter-button.btn.btn-primary:focus {
    background-color: white;
    color: #b19a55;
    border: none;
    border-radius: 0;
    font-size: .9em;
    box-shadow:none;
}
