.react-multi-carousel-item {
    display: flex;
}

.carousel-container {
    background-color: $color-1;
    width: 100%;
    overflow: hidden;
}

.hContainer {
    display: flex;
    width: 100%;
}

.hScroller {
    display: flex;
    overflow-x: scroll;
}

.carousel-container2 {
    background-color: $color-0;
}
.react-multi-carousel-item {
    .Item {
        margin-left: 20%;
        margin-right: 5%;
        width: 100%;

    }
}
.custom-dot-list-style {
    display: flex;
    justify-content: space-between;

    .react-multi-carousel-dot {
        padding: 0;
        display: flex;
        margin: 0;
        align-items: flex-end;
        flex: 1;
        button {
            display: inline-block;
            width: 100%;
            height: 2px;
            border: none;
            border-radius: 2em;
            opacity: 1;
            padding: 5px;
            box-shadow: none;
            transition: background 0.5s;
            border-width: 0;
            border-style: solid;
            color: grey;
            background-color: $color-1;
            padding: 0;
            margin: 0;
            outline: 0;
            cursor: pointer;
        }

    }
    .react-multi-carousel-dot--active {
        button {
            background-color: $color-5;
            height: 2px;
        }
    }
}

.browseNav {
    padding: 0 1.5em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .browseNavButton {
        padding: 0.4em;
        text-transform: capitalize;
        transition: ease all .7s;
        font-size:.9em;
    }
    a:hover {
        color: $color-5;
        text-decoration: none;
        background-color: $color-1;
    }

}

.ProductList {
    padding-top: 5em;
    background-color: $color-1;
}

.listings {
    h1 {
        text-align: center;
    }
}

.categoryContainer {
    .noListing {
        z-index: 1;
        position: absolute;
        text-align: center;
        display: flex;
        width: 100%;
        justify-content: center;
        padding: 0.4em;
        padding-top:1em;
        p {
            text-transform: capitalize;
            padding-top:.4em;
            font-weight:700;
        }
    }
    .card {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border: none;
        .card-body {
            padding: 0;
            .card-title {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                padding-top: 1em;
                margin: 0;
                font-size: 1em;
                
            }
        }
    }
}

.productsListing {
    display: flex;
    background-color: #fff;
    border-bottom: solid thin $color-4;
    z-index: 5;
    .col {
        display: flex;
        flex: 1 0 49%;
        align-items: center;
        justify-content: center;
        text-align: center;
        max-width: 50%;
        padding: .5em 1em;
        min-height: 5em;
        .card {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            border: none;
            
            a {
                display: flex;
                flex-direction: column;
                img {
                    display: block;
                    max-width:auto;
                    max-height:6em;
                    width: auto;
                    height: auto;
                    object-fit: contain;
                }
                .itemPrice {
                    color:$color-5;
                    font-size:.8em;
                    display: flex;
                    justify-content: flex-end;
                    margin-bottom: .5em;
                }
            }

            .card-body {
                padding: 0;
                .card-title {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    padding-top: .7em;
                    margin: 0;
                    font-size:.9em;
                    font-weight: 100;
                    text-transform: capitalize;
                }
            }
        }
    }

    .col:nth-child(odd) {
        border-right: solid thin $color-4;
        border-bottom: solid thin $color-4; 
    }

    .col:nth-child(even) {
        border-bottom: solid thin $color-4; 
        border-right: none;
    }


    .col:first-child {
        border-bottom: solid thin $color-4; 
        border-top:none; 
    }



    .col:last-child {
        border-bottom:none;
    }

    .col:nth-child(4) {
        border-bottom: solid thin $color-4; 
    }

    .col:nth-child(4n-6) {
        border-bottom: solid thin $color-4; 
    }
    .col:nth-child(2) {
        border-top:none;
        border-bottom: solid thin $color-4; 
    }
}


