
.searchList{
    .searchResults {
        display: flex;
        background-color: #fff;
        border-bottom: solid thin #495158;
    }
    .col {
        border: solid thin $color-4;
        display: flex;
        flex: 1 0 49%;
        align-items: center;
        justify-content: center;
        text-align: center;
        max-width: 50%;
        padding: .5em 1em;
        min-height: 5em;
        .card {
            border:none;
        }
 
    }
    .col:nth-child(odd) {
        border-right: solid thin $color-4;
        border-bottom: solid thin $color-4; 
        border-left: none;
        border-right: solid thin $color-4; 
    }

    .col:nth-child(even) {
        border-bottom: solid thin $color-4; 
        border-right: none;
        border-left: none;
    }

    .col:first-child {
        border-bottom: none;
        border-top:none; 
    }

    .col:last-child {
        border-bottom:none;
    }

    .col:nth-child(4) {
        border-bottom: solid thin $color-4; 
    }

    .col:nth-child(4n-6) {
        border-bottom: solid thin $color-4; 
    }
    .col:nth-child(2) {
        border-top:none;
        border-bottom: none;
    }
}



.searchBox {

    justify-content: center;
            .form-inline .form-control {
                width:100vw; 
                input {
                    width:100vw;
                }
            }


    input {
        width:100vw;
        border-radius: 0;
        border:none;
        border-bottom: thin solid $color-2;
        box-shadow:none;
        text-align:center;
    }
        .form-control:focus {
            color: #495057;
            background-color: #fff;
            border-color: $color-2;
            outline: 0;
            box-shadow: none;
        }
        
    }



    .noResults {
        position: absolute;
        z-index: -1;
        max-width: 550px;
        padding-top: 1em;
    }